
$_gr-align-directions: (
  start: (property: 'justify-content', value: 'flex-start'),
  center: (property: 'justify-content', value: 'center'),
  end: (property: 'justify-content', value: 'flex-end'),
  top: (property: 'align-items', value: 'flex-start'),
  middle: (property: 'align-items', value: 'center'),
  bottom: (property: 'align-items', value: 'flex-end'),
  around: (property: 'justify-content', value: 'space-around'),
  between: (property: 'justify-content', value: 'space-between')
);

// ==============
// build classes
// ==============

@mixin _gr-build-modifier-align-classes($breakpoint) {

  @each $direction, $direction-styles in $_gr-align-directions {

    $align-row-selector: '.#{$gr-namespace-class}-#{$gr-row-class}--align-#{$direction}';

    @if $breakpoint {

      $align-row-selector: '#{$align-row-selector}, #{$align-row-selector}#{$gr-breakpoint-class-divider}#{$breakpoint}';
    }

    #{$align-row-selector} {

      @include _gr-align($direction);
    }
  }
}


// ==============
// internals
// ==============

// $direction: start, center, end, top, middle, bottom, around, between
@mixin _gr-align($direction) {

  #{_gr-multi-map-get($_gr-align-directions, $direction, property)}: #{_gr-multi-map-get($_gr-align-directions, $direction, value)};
}


// ==============
// public
// ==============

@mixin gr-align($direction, $breakpoint: null) {

  @if $breakpoint and length($gr-breakpoints) > 0 {

    @include _gr-media($breakpoint) {

      @include _gr-align($direction);
    }
  } @else if not $breakpoint and length($gr-breakpoints) > 0 {

    @each $breakpoint, $breakpoint-config in $gr-breakpoints {

      @include _gr-media($breakpoint) {

        @include _gr-align($direction);
      }
    }
  } @else {

    @include _gr-align($direction);
  }
}
