@use 'sass:list';
@use 'sass:map';

@use '../settings' as *;

$_gr-hide-show-types: (
  hide: (
    selector: '.#{$gr-namespace-class}--hide'
  ),
  show: (
    selector: '.#{$gr-namespace-class}--show'
  ),
  hidden: (
    selector: '.#{$gr-namespace-class}--hidden'
  ),
  visible: (
    selector: '.#{$gr-namespace-class}--visible'
  )
);

// ==============
// build classes
// ==============

@mixin _gr-build-modifier-hide-show-classes($breakpoint: null) {

  $_gr-hide-show-type-selectors: $_gr-hide-show-types;

  @each $type, $selector-map in $_gr-hide-show-types {

    $selector: map.get($selector-map, selector);

    @if $breakpoint {

      $selector: '#{$selector}, #{$selector}#{$gr-breakpoint-class-divider}#{$breakpoint}';
    }

    @if $type == hide {

      #{$selector} {

        @include _gr-hide();
      }
    }

    @if $type == show {

      #{$selector} {

        @include _gr-show();
      }
    }

    @if $type == hidden {

      #{$selector} {

        @include _gr-hidden();
      }
    }

    @if $type == visible {

      #{$selector} {

        @include _gr-visible();
      }
    }
  }
}


// ==============
// internals
// ==============

@mixin _gr-hide() {

  display: none;
}

@mixin _gr-show($display-type: 'block') {

  display: #{$display-type};
}

@mixin _gr-hidden() {

  visibility: hidden;
}

@mixin _gr-visible() {

  visibility: visible;
}


// ==============
// public
// ==============

@mixin gr-hide($breakpoint: null) {

  @if $breakpoint and list.length($gr-breakpoints) > 0 {

    @include _gr-media($breakpoint) {

      @include _gr-hide();
    }
  } @else if not $breakpoint and list.length($gr-breakpoints) > 0 {

    @each $breakpoint, $breakpoint-config in $gr-breakpoints {

      @include _gr-media($breakpoint) {

        @include _gr-hide();
      }
    }
  } @else {

    @include _gr-hide();
  }
}

@mixin gr-show($breakpoint: null, $display-type: 'block') {

  @if $breakpoint and list.length($gr-breakpoints) > 0 {

    @include _gr-media($breakpoint) {

      @include _gr-show($display-type);
    }
  } @else if not $breakpoint and list.length($gr-breakpoints) > 0 {

    @each $breakpoint, $breakpoint-config in $gr-breakpoints {

      @include _gr-media($breakpoint) {

        @include _gr-show($display-type);
      }
    }
  } @else {

    @include _gr-show($display-type);
  }
}

@mixin gr-hidden($breakpoint: null) {

  @if $breakpoint and list.length($gr-breakpoints) > 0 {

    @include _gr-media($breakpoint) {

      @include _gr-hidden();
    }
  } @else if not $breakpoint and list.length($gr-breakpoints) > 0 {

    @each $breakpoint, $breakpoint-config in $gr-breakpoints {

      @include _gr-media($breakpoint) {

        @include _gr-hidden();
      }
    }
  } @else {

    @include _gr-hidden();
  }
}

@mixin gr-visible($breakpoint: null) {

  @if $breakpoint and list.length($gr-breakpoints) > 0 {

    @include _gr-media($breakpoint) {

      @include _gr-visible();
    }
  } @else if not $breakpoint and list.length($gr-breakpoints) > 0 {

    @each $breakpoint, $breakpoint-config in $gr-breakpoints {

      @include _gr-media($breakpoint) {

        @include _gr-visible();
      }
    }
  } @else {

    @include _gr-visible();
  }
}
