
// ==============
// build classes
// ==============

@mixin _gr-build-modifier-row-full-classes($breakpoint: null) {

  $row-full-selector: '.#{$gr-namespace-class}-#{$gr-row-class}--full';

  @if $breakpoint {

    $row-full-selector: '#{$row-full-selector}, #{$row-full-selector}#{$gr-breakpoint-class-divider}#{$breakpoint}';
  }

  #{$row-full-selector} {

    @include _gr-row-full($breakpoint);
  }
}


// ==============
// internals
// ==============

@mixin _gr-row-full($breakpoint: null) {

  $gutter: if($breakpoint, _gr-get-resp-val($breakpoint, gutter), $gr-gutter);

  width: calc(100vw + #{$gutter});
  margin-left: 50%;
  transform: translateX(-50%);
}


// ==============
// public
// ==============

@mixin gr-row-full($breakpoint: null) {

  @if $breakpoint and length($gr-breakpoints) > 0 {

    @include _gr-media($breakpoint) {

      @include _gr-row-full($breakpoint);
    }
  } @else if not $breakpoint and length($gr-breakpoints) > 0 {

    @each $breakpoint, $breakpoint-config in $gr-breakpoints {

      @include _gr-media($breakpoint) {

        @include _gr-row-full($breakpoint);
      }
    }
  } @else {

    @include _gr-row-full($breakpoint);
  }
}
