
// ==============
// build classes
// ==============

@mixin _gr-build-modifier-no-gutter-classes($modifier, $columns, $state) {

  $no-gutter-row-selector: '.#{$gr-row-class}--no-gutter';
  $no-gutter-row-selector--left: '.#{$gr-row-class}--no-gutter--left';
  $no-gutter-row-selector--right: '.#{$gr-row-class}--no-gutter--right';

  $no-gutter-col-selector: '.#{$gr-column-class}--no-gutter';
  $no-gutter-col-selector--left: '.#{$gr-column-class}--no-gutter--left';
  $no-gutter-col-selector--right: '.#{$gr-column-class}--no-gutter--right';

  @if $state {

    $no-gutter-row-selector: '#{$no-gutter-row-selector}, #{$no-gutter-row-selector}#{$gr-state-class-divider}#{$state}';
    $no-gutter-row-selector--left: '#{$no-gutter-row-selector--left}, #{$no-gutter-row-selector--left}#{$gr-state-class-divider}#{$state}';
    $no-gutter-row-selector--right: '#{$no-gutter-row-selector--right}, #{$no-gutter-row-selector--right}#{$gr-state-class-divider}#{$state}';

    $no-gutter-col-selector: '#{$no-gutter-col-selector}, #{$no-gutter-col-selector}#{$gr-state-class-divider}#{$state}';
    $no-gutter-col-selector--left: '#{$no-gutter-col-selector--left}, #{$no-gutter-col-selector--left}#{$gr-state-class-divider}#{$state}';
    $no-gutter-col-selector--right: '#{$no-gutter-col-selector--right}, #{$no-gutter-col-selector--right}#{$gr-state-class-divider}#{$state}';
  }

  #{$no-gutter-row-selector} {

    @include _gr-row-no-gutter;
  }

  #{$no-gutter-row-selector--left} {

    @include _gr-row-no-gutter(true);
  }

  #{$no-gutter-row-selector--right} {

    @include _gr-row-no-gutter(false, true);
  }

  #{$no-gutter-col-selector} {

    @include _gr-col-no-gutter;
  }

  #{$no-gutter-col-selector--left} {

    @include _gr-col-no-gutter(true);
  }

  #{$no-gutter-col-selector--right} {

    @include _gr-col-no-gutter(false, true);
  }
}


// ==============
// internals
// ==============

@mixin _gr-row-no-gutter($left: false, $right: false) {

  @include _gr-no-gutter('margin', $left, $right);
}

@mixin _gr-col-no-gutter($left: false, $right: false) {

  @include _gr-no-gutter('padding', $left, $right);
}

@mixin _gr-no-gutter($prop, $left: false, $right: false) {

  @if not $left and not $right {

    $left: true;
    $right: true;
  }

  @if $left {

    #{$prop}-left: 0;
  }

  @if $right {

    #{$prop}-right: 0;
  }
}


// ==============
// public
// ==============

@mixin gr-no-gutter-row($state: null, $left: false, $right: false) {

  @if $state and length($_gr-states) > 0 {

    @include _gr-media($state) {

      @include _gr-row-no-gutter($left, $right);
    }
  } @elseif not $state and length($_gr-states) > 0 {

    @each $state, $state-config in $_gr-states {

      @include _gr-media($state) {

        @include _gr-row-no-gutter($left, $right);
      }
    }
  } @else {

    @include _gr-row-no-gutter($left, $right);
  }
}

@mixin gr-no-gutter($state: null, $left: false, $right: false) {

  @if $state and length($_gr-states) > 0 {

    @include _gr-media($state) {

      @include _gr-col-no-gutter($left, $right);
    }
  } @elseif not $state and length($_gr-states) > 0 {

    @each $state, $state-config in $_gr-states {

      @include _gr-media($state) {

        @include _gr-col-no-gutter($left, $right);
      }
    }
  } @else {

    @include _gr-col-no-gutter($left, $right);
  }
}
