
// ==============
// build classes
// ==============
// .gr--prefix-2@s
@mixin _gr-build-modifier-prefix-suffix-classes($columns, $set-prefix-classes: false, $set-suffix-classes: false, $state: null) {

  $prefix-selector: '.#{$gr-namespace-class}--prefix';
  $suffix-selector: '.#{$gr-namespace-class}--suffix';

  @if $state {

    // seperate columns without state modifier
    // to override them by column classes with modifier
    @for $i from 0 to _gr-get-resp-val($state, columns) + 1 {

      @if $set-prefix-classes {

        #{$prefix-selector}-#{$i} {

          @include _gr-prefix($i, _gr-get-resp-val($state, columns));
        }
      }

      @if $set-suffix-classes {

        #{$suffix-selector}-#{$i} {

          @include _gr-suffix($i, _gr-get-resp-val($state, columns));
        }
      }
    }

    @for $i from 0 to _gr-get-resp-val($state, columns) + 1 {

      @if $set-prefix-classes {

        #{$prefix-selector}-#{$i}#{$gr-state-class-divider}#{$state} {

          @include _gr-prefix($i, _gr-get-resp-val($state, columns));
        }
      }

      @if $set-suffix-classes {

        #{$suffix-selector}-#{$i}#{$gr-state-class-divider}#{$state} {

          @include _gr-suffix($i, _gr-get-resp-val($state, columns));
        }
      }
    }
  } @else {

    // seperate columns without state modifier
    // to override them by column classes with modifier
    @for $i from 0 to $gr-columns + 1 {

      @if $set-prefix-classes {

        #{$prefix-selector}-#{$i} {

          @include _gr-prefix($i, $gr-columns);
        }
      }

      @if $set-suffix-classes {

        #{$suffix-selector}-#{$i} {

          @include _gr-suffix($i, $gr-columns);
        }
      }
    }
  }
}


// ==============
// internals
// ==============

@mixin _gr-prefix($width, $columns) {

  margin-left: #{100% / $columns * $width};
}

@mixin _gr-suffix($width, $columns) {

  margin-right: #{100% / $columns * $width};
}


// ==============
// public
// ==============

@mixin gr-prefix($width, $state: null) {

  @if $state and length($_gr-states) > 0 {

    @include _gr-media($state) {

      @include _gr-prefix($width, _gr-get-resp-val($state, columns));
    }
  } @elseif not $state and length($_gr-states) > 0 {

    @each $state, $state-config in $_gr-states {

      @include _gr-media($state) {

        @include _gr-prefix($width, _gr-get-resp-val($state, columns));
      }
    }
  } @else {

    @include _gr-prefix($width, $gr-columns);
  }
}

@mixin gr-suffix($width, $state: null) {

  @if $state and length($_gr-states) > 0 {

    @include _gr-media($state) {

      @include _gr-suffix($width, _gr-get-resp-val($state, columns));
    }
  } @elseif not $state and length($_gr-states) > 0 {

    @each $state, $state-config in $_gr-states {

      @include _gr-media($state) {

        @include _gr-suffix($width, _gr-get-resp-val($state, columns));
      }
    }
  } @else {

    @include _gr-suffix($width, $gr-columns);
  }
}
