@function _gr-multi-map-get($map, $targets...) {

  $val: $map;
  $curr-map: $val;

  @each $target in $targets {

    $val: map-get($curr-map, $target);
    $curr-map: $val;
  }

  @return $val;
}

@function _gr-get-resp-val($br, $targets...) {

  @return _gr-multi-map-get($_gr-states, $br, $targets...);
}

@function _gr-map-set($map, $key, $value) {

  $new: ($key: $value);

  @return map-merge($map, $new);
}
