/**
 * Builds the media query for the given state identifiers to wrap the styles in.
 * @param  {String}          $start         The state identifier to get the maximum and/or minimum width from.
 * @param  {String|Boolean}  $end    false  If given, the mixin uses the maximum value from this state.
 */
@mixin _gr-media($start, $end: false) {

  $str: null;
  $min: false;
  $max: false;
  $state-start: map-get($gr-states, $start);

  @if $state-start {
    @if $start and not $end {

      $min: map-get($state-start, 'min');
      $max: map-get($state-start, 'max');
    } @else {

      $state-end: map-get($gr-states, $end);
      $min: map-get($state-start, 'min');
      $max: map-get($state-end, 'max');
    }
  }

  @if $max or $min {

    @if $min and not $max {

      $str: '(min-width: #{$min})';

    } @else if $max and not $min {

      $str: '(max-width: #{$max})';

    } @else {

      $str: '(min-width: #{$min}) and (max-width: #{$max})';
    }
  }

  @if $str {

    @media #{$str} {

      @content;
    }
  } @else {

    @content
  }
}
