$gr-breakpoints: (
  s: (
    min: null,
    max: 600px,
    gutter: 12px,
    columns: 12,
    container: (
      max-width: 100%,
      padding: 30px
    )
  ),
  m: (
    min: 601px,
    max: 1000px,
    gutter: 14px,
    columns: 12,
    container: (
      max-width: 600px,
      padding: null
    )
  ),
  l: (
    min: 1001px,
    max: null,
    gutter: 40px,
    columns: 12,
    container: (
      max-width: 1200px,
      padding: 60px
    )
  )
);

$gr-set-container-style: true;
$gr-center-container: true;

@import '../../index';

@include gr-build-classes((
  prefix: false,
  suffix: false,
  push: false,
  pull: false,
  row-full: false,
  row-column: false,
  row-reverse: false,
  row-column-reverse: false,
  hide-show: false,
  order: false,
  align: false,
  no-gutter: false,
row-debug: false
));


// @each $breakpoint, $breakpoint-config in $gr-breakpoints {
//
//   @include _gr-media($breakpoint) {
//
//     .#{$gr-namespace-class}-#{$gr-container-class},
//     .#{$gr-namespace-class}-#{$gr-container-class}#{$gr-breakpoint-class-divider}#{$breakpoint} {
//
//       margin-right: auto;
//       margin-left: auto;
//     }
//   }
// }


// /**@include _gr-media(s) {*/
// @include _gr-media(s) {
//
//   .test-container {
//     max-width: #{gr-get-value(l, container, max-width)};
//   }
// }
// /**@include gr-media(s) {*/
// @include gr-media(s) {
//
//   .test-container {
//     background-color: #f02;
//   }
// }
//
// /**@include _gr-media(m) {*/
// @include _gr-media(m) {
//
//   .test-container {
//     background-color: #ff1;
//   }
// }
// /**@include gr-media(m) {*/
// @include gr-media(m) {
//
//   .test-container {
//     background-color: #ff2;
//   }
// }
//
// /**@include _gr-media(l) {*/
// @include _gr-media(l) {
//
//   .test-container {
//     background-color: #ff1;
//   }
// }
// /**@include gr-media(l) {*/
// @include gr-media(l) {
//
//   .test-container {
//     background-color: #ff2;
//   }
// }
//
// /**@include _gr-media(s, m) {*/
// @include _gr-media(s, m) {
//
//   .test-container {
//     background-color: #ff1;
//   }
// }
// /**@include gr-media(s, m) {*/
// @include gr-media(s, m) {
//
//   .test-container {
//     background-color: #ff2;
//   }
// }
//
// /**@include _gr-media(s, l) {*/
// @include _gr-media(s, l) {
//
//   .test-container {
//     background-color: #ff1;
//   }
// }
// /**@include gr-media(s, l) {*/
// @include gr-media(s, l) {
//
//   .test-container {
//     background-color: #ff2;
//   }
// }
//
//
// .test-container {
//   @include gr-container;
// }
//
// // .test-container-m {
// //   @include gr-container(m);
// // }
//
// .test-row {
//   @include gr-row();
// }
//
// // .test-row-m {
// //   @include gr-row(m);
// // }
//
// .test-gr-2 {
//
//   @include gr-col(2);
// }
//
// .test-gr-6 {
//
//   @include gr-col(6);
// }
//
// .test-gr-12 {
//
//   @include gr-col(12);
// }
//
// .test-gr-1\@s {
//
//   @include gr-col(1, s);
// }
//
// .test-gr-3\@s {
//
//   @include gr-col(3, s);
// }
//
// .test-gr-1\@m {
//
//   @include gr-col(1, m);
// }
//
// .test-gr-8\@m {
//
//   @include gr-col(8, m);
// }
//
// .test-gr-1\@l {
//
//   @include gr-col(1, l);
// }
//
// .test-gr-5\@l {
//
//   @include gr-col(5, l);
// }
//
// .test-gr-6\@l {
//
//   @include gr-col(6, l);
// }
//
// .test-gr-12\@l {
//
//   @include gr-col(12, l);
// }
//
// .test-gr-6 {
//
//   @include gr-push(4);
//   @include gr-push(6, m);
//   @include gr-pull(4);
//   @include gr-pull(6, m);
//
//   // @include gr-prefix(4);
//   // @include gr-prefix(6, m);
//   // @include gr-suffix(4);
//   // @include gr-suffix(6, m);
//
//   // @include gr-hide(m);
//   // @include gr-show(m);
//   // @include gr-show();
//   // @include gr-show(null, 'inline');
//   // @include gr-hidden(l);
//   // @include gr-visible(s);
//
//   // @include gr-order(3);
//   // @include gr-order(last, m);
//
//   // @include gr-align(top);
//   // @include gr-align('end', m);
//
//   // @include gr-row-reverse();
//   // @include gr-row-reverse(m);
//
//   // @include gr-row-full();
//   // @include gr-row-full(m);
//
//   // @include gr-no-gutter-row();
//   // @include gr-no-gutter(m);
//   // @include gr-no-gutter(s, true);
//   // @include gr-no-gutter(l, false, true);
// }
