@mixin _gr-col-base($gutter) {

  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  box-sizing: border-box;
}

@mixin _gr-col($width, $columns) {

  width: #{100% / $columns * $width};
}

@mixin _gr-row-base() {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  box-sizing: border-box;
};

@mixin _gr-row($gutter) {

  margin-left: #{ $gutter / -2};
  margin-right: #{ $gutter / -2};
};

@mixin _gr-container($max-width, $padding) {

  @if $max-width {

    max-width: $max-width;
  }

  @if $padding {

    padding-left: $padding;
    padding-right: $padding;
  }

  box-sizing: border-box;
}


// ===========================
// MODIFIERS
// ===========================

@mixin _gr-push($width, $columns) {

  left: #{100% / $columns * $width};
  right: auto;
}

@mixin _gr-pull($width, $columns) {

  left: auto;
  right: #{100% / $columns * $width};
}

@mixin _gr-prefix($width, $columns) {

  margin-left: #{100% / $columns * $width};
}

@mixin _gr-suffix($width, $columns) {

  margin-right: #{100% / $columns * $width};
}

@mixin _gr-row-reverse() {}
@mixin _gr-align() {}
@mixin _gr-hide() {}
@mixin _gr-show() {}
@mixin _gr-first() {}
@mixin _gr-last() {}
