// Default settings:

// {Boolean} - If you need styles for a wrapping container-element, set this to true
$gr-set-container-style: false !default;

// {Boolean} - If the container should be centered to the screen, set this to true
$gr-center-container: false !default;

// ==============
// Completly customizable class names:
// ==============

// {String} - The prefix for all classes (.#{$gr-namespace-class}-)
$gr-namespace-class: 'gr' !default;

// {String} - The classname for the container-selector: (.#{$gr-namespace-class}-#{$gr-container-class})
$gr-container-class: 'container' !default;

// {String} - The classname for the row-selector: (.#{$gr-namespace-class}-#{$gr-row-class})
$gr-row-class: 'row' !default;

// {String} - If you want to apply grid-styles only for a specific breakpoint, this divider (.#{$gr-namespace-class}-12#{$gr-breakpoint-class-divider}#{BREAKPOINT_ID})
$gr-breakpoint-class-divider: '\\@' !default;

// ==============
// General grid definitions
// ==============

// {Number} - Number of columns to use
$gr-columns: 12 !default;

// {Number} - Space between one column and another
$gr-gutter: 24px !default;

// {Number} - The maximum width of the wrapping container
$gr-container-max-width: 1200px !default;

// {Number} - Spacing around the grid
$gr-container-padding: 20px !default;

$gr-breakpoints: () !default;
